@layer components {
    .scroll-custom {

        scrollbar-width: thin;

        /* ::-webkit-scrollbar {
            width: 5px;
        }
        ::-webkit-scrollbar-track {
        background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        */
    }
}